body
{
    margin:0;
    font-family: 'Poppins', sans-serif;
}

h1
{
    font-size:40px;
}

p
{
    text-align:justify;
    opacity:0.8;
}

.color-orange
{
    color:orange;
}

.button 
{
    text-decoration: none;
    color:white;
    background:linear-gradient(to right,rgba(255, 99, 71,.6),rgba(255, 99, 71,1));
    padding:10px 35px;
    border-radius: 5px;
    font-weight: 700;
}

.round-image
{
    border-radius: 50%;
}

.half-width
{
    width:50%;
    margin-left:5%;
    padding:0px 10px;
}
.half-width img{
    width:80%;
}

.section-1
{
    display:flex;
    margin-bottom: 150px;
}
.section-1-background
{
    background-image: url("image/top-banner.png");
    background-position:left;
    background-repeat: no-repeat;
}

.section-2
{
    display:flex;
    margin-bottom: 150px;
    background-color:black;
    color:white;
    padding:10px;
}

.section-2-background
{
    background-image: url("image/dream-bg.png");
    background-position:right;
    background-repeat: no-repeat;
}

.section-3-display
{
    display:flex;
    margin-bottom: 150px;
}

.section-3-half-width
{
    width:40%;
    margin-left:5%;
    margin-right:50px;
    padding:0px 5px;
    box-shadow: 10px 10px 40px grey;
}

#section-3-gradient1
{
    border-left: 7px solid;
    border-image: linear-gradient(blue,tomato);
    border-image-slice: 1;
    border-radius: 7px;
}
#section-3-gradient2
{
    border-left: 7px solid;
    border-image: linear-gradient(green,tomato);
    border-image-slice: 1;
    border-radius: 7px;
}
#section-3-h1-padding
{
    padding:20px;
}
.section-3-background
{
    background-image: url("image/exp-bg.png");
    background-position:left;
    background-repeat: no-repeat;
}
footer p{
    text-align: center;
    color: rgb(255, 71, 71);
}